.bail-upper-bg-sm {

    background-image: url(../Photos/bail-up-bg.jpg);
    width: 100%;
    height: -400px;
    background-size: cover;
    padding: 5% 0% 1% 2%;
    display: flex;
    align-items: end;


}

.bail-upper-heading-sm {
    opacity: 0.9;

    font-family: Cormorant Garamond;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    color: white;
   


}

.bail-uppper-para-sm {
    color: #ffae00;
    opacity: 0.9;
   /* margin-top: 7%; */

    font-family: Outfit;
    font-size: 25px;
    font-weight: 400;

    text-align: left;
    


}

.banner-image-inner-content2-sm {

    background-color: #FFAE00;
    color: black;
    padding: 2%;
    /* width: 210px; */
    height: 60px;
    border-width: 0px;

    border-radius: 15px;
    font-size: 20px;
    font-weight: 800px;
   margin-top: -88%;
   margin-left: 40%;
   width: 88%;
   height: 70px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 30px;
}

.alignmebt-of-para-button-sm {
    width: 100%;
}

.top-part-sm {
    margin-top: 3%;
    width: 65%
}

.bottom-part-sm {
    text-align: center;
    width: 30%;
    align-items: center;
    padding: 4%;
}

.background-container-skb-sm {
    background-color: white;

    padding: 1%;
}

.alignment-for-top-part-skb-sm {
    display: flex;
    /* flex-direction: row; */

}

.heading-for-top-part-skb-sm {
    font-family: "Cormorant Garamond", serif;
    color: goldenrod;
    font-size: 40px;
    font-weight: 0;
    font-family: Lora;
    font-family: Cormorant Garamond;
}



.heading-for-top-part-skb-sm {
    font-family: "Cormorant Garamond", serif;
    color: #081245;
    font-size: 30px;
    font-weight: 0;
    font-family: Lora;
    font-family: Cormorant Garamond;
}

.para-for-top-part-skb-sm {
    font-family: Cormorant Garamond;

    font-size: 18px;
    font-weight: 0;
    font-family: "Lora", serif;
    text-align: justify;
    padding-right: 6%;
}
.top-part-in-subpart-skb-sm {
    padding-left: 4%;
    width: 60%
}

.bottom-part-in-subpart-skb-sm {
    width: 35%;
    padding-top: 5%;
}

.images-tm-bsk-sm {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
    height: 100%;
    width: 90%;
}

.mini-heading-sm {
    font-size: 20px;
    font-family: Cormorant Garamond;
    color: #081245;
    text-align: left;

}

.image-box-tm-bsk-sm {
    position: relative;
    padding: 10px 0px 0 0;
}

.line-through-sm {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    left: -7%;
    right: 10px;
    top: 0;

    bottom: 18px;
    border: 3px solid goldenrod;
    /* border-radius: 0 0 250px 250px; */
    content: "";
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    animation: fadeUp 1s ease;
}

/* /mediaQ */
@media (max-width:1024px) {
    .bail-upper-heading-sm {
      
        font-size: 30px;
        padding: 0;
    }
    .bail-uppper-para-sm {
       
        font-size: 19px;
        padding: 1%;
        margin: 0;
    }
    .banner-image-inner-content2-sm {
        width: 150px;
        height: 50px;
        font-size: 17px;
        font-weight: 800px;
    
    }
.top-part-sm {
    width: 70%
}
.bottom-part-sm {
    width: 40%;
    align-items: center;
    padding: 1%;
}
.heading-for-top-part-skb-sm {
   
    font-size: 25px;

}
.para-for-top-part-skb-sm {
    font-size: 15px;
    
}
    
}
@media (max-width:912px) {
    .bail-upper-heading-sm {
      
        font-size: 27px;
        padding: 0;
    }
    .bail-uppper-para-sm {
       
        font-size: 16px;
        padding: 1%;
        margin: 0;
    }
    .banner-image-inner-content2-sm {
        width: 120px;
        height: 45px;
        font-size: 17px;
        font-weight: 800px;
    
    }
.top-part-sm {
    width: 70%
}
.bottom-part-sm {
    width: 35%;
    align-items: center;
    padding: 1%;
}
.heading-for-top-part-skb-sm {
   
    font-size: 20px;
    line-height: 20px;

}

.mini-heading-sm {
    font-size: 15px;
    text-align: left;
    line-height: 5px;
}
.para-for-top-part-skb-sm {
    font-size: 14px;
    
}
.line-through-sm {
    left:-3px;
    right: -2px;
}
    
}
@media (max-width:761px) {
    .bail-upper-heading-sm {
      
        font-size: 20px;
        padding: 0;
    }
    .bail-uppper-para-sm {
       
        font-size: 14px;
        padding: 1%;
        margin: 0;
    }
    .banner-image-inner-content2-sm {
        width: 100px;
        height: 40px;
        font-size: 14px;
        font-weight: 800px;
    
    }
.top-part-sm {
    width: 75%
}
.bottom-part-sm {
    width: 35%;
    align-items: center;
    padding: 1%;
}
.heading-for-top-part-skb-sm {
   
    font-size: 17px;
    line-height: 15px;

}

.mini-heading-sm {
    font-size: 11px;
    text-align: left;
    line-height: 3px;
}
.para-for-top-part-skb-sm {
    font-size: 11px;
    
}
.line-through-sm {
    left:-3px;
    right: -2px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}
.images-tm-bsk-sm {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
    
}
@media (max-width:555px) {
    .alignment-for-top-part-skb-sm {
    
        display:inline;
        align-items: center;
        justify-content: center;
        
        text-align: center;
    
    }
    .bail-upper-heading-sm {
      
        font-size: 14px;
        padding: 0;
    }
    .bail-uppper-para-sm {
       
        font-size: 10px;
        padding: 1%;
        margin: 0;
    }
    .banner-image-inner-content2-sm {
        width: 80px;
        height: 20px;
        font-size: 10px;
        font-weight: 400px;
    
    }
.top-part-sm {
    width: 75%
}
.bottom-part-sm {
    width: 30%;
    align-items: center;
    padding: 1%;
}
.heading-for-top-part-skb-sm {
   
    font-size: 17px;
    line-height: 15px;

}

.mini-heading-sm {
    font-size: 11px;
    text-align: left;
    line-height: 3px;
}
.para-for-top-part-skb-sm {
    font-size: 11px;
    
}
.line-through-sm {
    left:-3px;
    right: -2px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.images-tm-bsk-sm {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.top-part-in-subpart-skb-sm {
    padding-left: 4%;
    width: 95%;
}

.bottom-part-in-subpart-skb-sm {
    width: 90%;
    padding-top: 5%;
}
.bottom-part-in-subpart-skb-sm {
    width: 80%;
    padding: 10%;
}

    
}

.Lower-images-div .logos-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    .Lower-images-div {
        margin-bottom: 5% ;
    }

}

.images-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageKK {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.patnersKK-heading {
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-size: 2.4rem;
    margin-inline-start: 0.9%;
    margin-inline-end: 0.9%;
    color: #161D27;
}

.logos-images {
    width: 80%;
}

@media (max-width:500px) {
    .patnersKK-heading {
        font-size: 1.4rem;
    }

    .ImageKK {
        height: 46px;
        width: 42px;
        object-fit: contain;
    }

}