.clients-proud-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30%;
   padding: 2%;
}
.container1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* flex-wrap: wrap; */
    
}
.mainimg img{
    width: 220px;
}
@media screen and (max-width:1330px){
    .mainimg img{
        width: 200px;
    }
}
@media screen and (max-width:1200px){
    .mainimg img{
        width: 180px;
    }
}
@media screen and (max-width:1050px){
    .mainimg img{
        width: 170px;
    }
}
@media screen  and (max-width:985px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:768px){
   .w5{
    min-width: 0px !important;
    width: 80% !important;
   }
   .container1{
    flex-wrap: wrap !important;
   }
}
@media screen and (max-width:425px){
    .mainimg img{
        width: 100%;
    }
}



.clients{
    display: block;
    font-size: 16px;
    color: #fe00c5;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    margin-bottom: 15px;
}
.header{
    position: relative;
    margin: 0px;
    background: none;
    font-weight: 600;
    line-height: 1.2em;
    font-family: "Exo", sans-serif;
    font-size: 17px;
}
.paragraph{
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    font-weight: 400;
    margin: 0;
}


.w5{
    min-width: 650px;
    width: 65%;
}






.btn-style-one {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    background: #001376;
    overflow: hidden;
    min-width: 180px;
}

.btn-style-one:hover {
    color: #ffffff;
}

.btn-style-one i {
    margin-right: 10px;
    font-size: 20px;
    line-height: 1em;
    color: #ffae00;
}

.btn-style-one:before {
    position: absolute;
    top: -50%;
    left: -50%;
    height: 100%;
    width: 200%;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    transform: rotate(16deg);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.btn-style-one:hover:before {
    top: 150%;
}


.theme-btn {
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.theme-btn .btn-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9;
    color: inherit;
}


.image-box {
    position: relative;
    text-align: center;
    margin-bottom: 0;
    /* top: 60px; */
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.image-box:hover {
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .20);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .20);
}