
.bg-img{
    background-image: url(../Photos/image.png);

}

.meetthebondsmen-header{
    padding-left:40px ;
}

.description-para{
        padding-left: 20px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        font-weight: 400;
        margin-bottom: 30px;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    
}


.faq-section {
    position: relative;
    padding: 100px 0 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.faq-section .icon-dotted-world.left {
    left: -280px;
    top: 50%;
    margin-top: -100px;
    -webkit-animation: bounce-x 10s infinite;
    animation: bounce-x 10s infinite;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.faq-section .icon-dotted-world.right {
    right: -280px;
    top: 50%;
    margin-top: -100px;
    -webkit-animation: bounce-x 10s infinite;
    animation: bounce-x 10s infinite;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.sec-title {
    position: relative;
    margin-bottom: 60px;
}

.sec-title .sub-title {
    display: block;
    font-size: 16px;
    color: #fe00c5;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    margin-bottom: 15px;
}

.sec-title h2 {
    display: block;
    font-size: 36px;
    line-height: 48px;
    color: #081245;
    font-weight: 700;
}



.sec-title .divider {
    position: relative;
    display: block;
    width: 68px;
    height: 5px;
    background-image: url(../Photos/divider.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
}

.sec-title.text-center .divider {
    margin: 30px auto 0;
    width: 90px;
    height: 5px;
    background-image: url(../Photos/divider-centered.png);
}

.sec-title.light h2,
.sec-title.light .text,
.sec-title.light p {
    color: #ffffff;
}




.description {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}
 
.description.open {
    max-height: 1000px;
}

.dropdown-container{
    /* position:absolute ; */

    margin-left: 10%;
}







.accordion-box {
    /* position: relative; */
    margin-bottom: 30px;
    width: 50%;

}
*,
  ::after,
  ::before {
    box-sizing: border-box;
  }

.accordion-box .block {
    position: relative;
    margin-bottom: 15px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    background: #ffffff;
}

.accordion-box .block .acc-btn {
    position: relative;
    font-size: 18px;
    padding: 15px 20px;
    padding-left: 90px;
    line-height: 30px;
    color: #001376;
    font-weight: 600;
    cursor: pointer;
    background: #ffffff;
    font-family: 'Exo', sans-serif;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.accordion-box .block .acc-btn.active {
    background: #f5f5f5;
    /* color: #ff4200; */
}

.accordion-box .block .acc-btn .icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #ffba00;
    font-size: 14px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.accordion-box .block .acc-btn.active .icon{
    background-color: #ff4200;
}

/* .accordion-box .block .acc-btn.active .icon:before {
    content: "\f068";
} */

.accordion-box .block .acc-content {
    position: relative;
    display: none;
}

.accordion-box .block .acc-content.current {
    display: block;
}

.accordion-box .block .content {
    position: relative;
    padding: 20px 30px;
}





.call-to-action {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0;
}

.call-to-action .icon-dotted-world.left {
    left: -280px;
    top: 30px;
    -webkit-animation: bounce-x 10s infinite;
    animation: bounce-x 10s infinite;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.call-to-action .icon-dotted-world.right {
    right: -280px;
    top: 30px;
    -webkit-animation: bounce-x 10s infinite;
    animation: bounce-x 10s infinite;
}

.call-to-action:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #00082e;
    background: -o-linear-gradient(45deg, #00082e 0%, #081245 100%);
    background: linear-gradient(45deg, #00082e 0%, #081245 100%);
    opacity: .90;
    content: "";
}

.call-to-action .content-box {
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.call-to-action .content-box h2 {
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #ffa200;
    font-weight: 700;
    margin-bottom: 35px;
}

.call-to-action .content-box .text {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 40px;
}

.call-to-action .content-box .theme-btn {
    position: relative;
    font-size: 16px;
}



.call-to-action-two {
    position: relative;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background: #011372;
    padding: 85px 0;
}

.call-to-action-two:before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 55%;
    background-image: url(../Photos/cta-bg.png);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.call-to-action-two .content-column {
    position: relative;
}

.call-to-action-two .content-box {
    position: relative;
    padding-left: 50px;
    max-width: 500px;
}

.call-to-action-two .content-box .sub-title {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

.call-to-action-two .content-box h2 {
    display: block;
    font-size: 36px;
    line-height: 1.3em;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 35px;
}

.call-to-action-two .content-box .text {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 40px;
}

.call-to-action-two .content-box .theme-btn {
    position: relative;
    font-size: 16px;
}


.anim-icons {
    /* position: absolute; */
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 1170px;
    /* margin: 0 auto; */
    margin-right: 99%;
    animation: pulse1 19s ease infinite;
}

.anim-icons.full-width {
    max-width: 100%;
}

.anim-icons .icon {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-dotted-world {
    width: 430px;
    height: 430px;
    background-image: url(../Photos/icon-world.png);
}

@keyframes pulse1 {
    0%{
        transform: scale3d((1,1,1));
    }
    50%{
        transform: scale3d(1.25,1.25,1.25);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}





@media (max-width:768px) {
    

    .accordion-box {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }
}

@media (max-width:425px){
    /* .accordion-box {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    } */
    /* .meetthebondsmen-header{
        padding-left:10px ;
    } */
    /* .list-container{
        margin-right: 20px;
    } */
    

    .icon-dotted-world {
        width: 430px;
        height: 430px;
        background-image: none;
    }
    

}